{% load static %}

{% block content %}
<div style="display:flex;align-items:center;justify-content:center;">
    <div style="display:flex;flex-direction:column;align-items:center;justify-content:center;width=50%;background-color:olive;margin-right=10px;margin-right: 2%;padding: 2.5%; height: 600px; border-radius: 10px">
        <h1>Service 1</h1>
        <p>The proposed telemedical service is designed to classify severe disorders of the cardiovascular which may lead to a sudden cardiac death. Among detectable diagnoses are atrial fibrillation, supraventricular arrhythmia, malignant ventricular ectopias as well as normal sinus rhythm.</p>
        <p>The service also allows to work with digitized electrocardiograms recorded in various formats. The metric accuracy is 99.8%. The timing is no longer than 3 seconds. A clinical judgement is given at the output.</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="arrytmia" multiple="multiple">
            <button type="submit">Upload</button>
        </form>
        <p>Only WFDB (Wave Form Data Base) ECG recordings can be loaded.</p>
        <p>One ECG record contains at least two ".dat" and ".hea" files. One ECG record can consist of up to eight files</p>
        <p>Values in the range 0.9 - 1 indicate that the file belongs to the corresponding diagnosis.</p>
        <p>Values ranging from zero to 0.89 indicate that the file does not match the corresponding diagnosis.</p>
    </div>
    <div style="display:flex;flex-direction:column;align-items:center;justify-content:center;width=50%;background-color:silver;padding: 2.5%;height: 600px;border-radius: 10px">
        <h1>Service 2</h1>
        <p>The proposed service is intended to identify the facts of erroneous electrode placement.</p>

        <p>The following situations can be identified:</p>
            
        <p>Disposition
            1. Thoracic electrodes C1 — C6 are 2 intercostal spaces above the standard scheme
            2. Thoracic electrodes C1 — C6 are 2 intercostal spaces below the standard scheme</p>
            
        <p>Chest leads
            3. Swapped C1 — C2
            4. Swapped C5 — C6
            5.Electrodes C4+C5+C6 are very close to each other (touching)
            6. Electrodes C4+C5+C6 are located on the intercostal space (not horizontal line, but curve upwards)
            7. All electrodes are in a straight line from C1 to C6 (V1 — V6)</p>
            
            <p>Electrode transposition:
            Standard leads
            8. Swapped — Right hand (Red) with Left hand (Yellow)
            9. Swapped — Left arm (Yellow) with Left leg (Green)</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="dislocation" multiple="multiple">
            <button type="submit">Upload</button>
        </form>
        <p>Files to download (requirement for input files)</p>
        <p>Files must be «.edf» format. Digitized data are used as initial data. electrocardiograms in the European data File (EDF) format with a frequency sampling 500 Hz.</p>
        <p>«.edf» file containing 12-lead ECG recordings: I, II, III, AvR, AvL, AvF, V1-V6 (C1-C6)</p>
        
    </div>
</div>
{% endblock %}